<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StructureBot EVE SSO Signin</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link id="favicon" rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Login to StructureBot with EVE Online</h1>
    <p>
      Please login with your EVE Online account below to enable your StructureBot instance to connect to your EVE Online account and report structure information.
    </p>
    <p class="center">
      <a href="{{ redirectUrl }}" alt="Sign in with EVE Online">
        <img src="/img/eve-sso-login-black-large.png" />
      </a>
    </p>

    <footer>
      Made by Atomic Development. <a href="https://github.com/Atomic-Development/StructureBot/">View on GitHub</a>
    </footer>

  </body>
</html>