.authenticate {
  background-image: url(../img/skybox1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome {
  background-image: url(../img/skybox2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.legal {
  background-image: url(../img/skybox3.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.deauthenticate {
  background-image: url(../img/skybox4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.credits {
  background-image: url(../img/skybox4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.uk-modal-body {
  color: #1C1C1C;
}