/* called by your view template (index.html) */

* {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2em;
  background: #1C1C1C;
  background-image: "../img/background.jpg";
  color: #FFB23D;
}

h1 {
  color: #FFB23D;
  text-align: center;
}

p.center {
  text-align: center;
}

footer {
  margin-top: 4em;
  padding-top: 2em;
}

footer a {
  color: #7D5531;
}

footer a:hover {
  color: #7D5531;
  text-decoration: underline;
}
